
@model Core.Models.Order


<h2>Order Confirmation</h2>

<p>Thank you for your purchase!</p>


<p>Order ID: <strong>@Model.Id</strong></p>
<p>User ID: <strong>@Model.UserID</strong></p>
<p>Order Date: @Model.OrderDate.ToString("MM/dd/yyyy")</p>
<p>Total Amount: @Model.TotalAmount.ToString("C")</p>
<p>Placed By: @Model.User.Name</p>


   

