
@model Core.Models.Order

<h2>Order Confirmation</h2>

<p>Thank you for your purchase!</p>
@* <p>User ID: @Model.UserID</p> *@
@* <p>Order ID: @Model.Id</p> *@
@* <p>Order Date: @Model.OrderDate</p> *@
@* <p>Total Amount: @Model.TotalAmount</p> *@
@* <p>Status: @Model.Status</p> *@
